* {
    box-sizing: border-box;
}


/* 這個就是return0自製版CSS的內容歐  */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
article,
header,
footer,
nav,
section {
    margin: 0;
    padding: 0;
}


/*網頁字體  */

body {
    font-family: "Source Sans Pro", "微軟正黑體", sans-serif;
    font-weight: bold;
}

body {
    background-image: url(./image/012.JPG);
}


/*超連結不要顯示底線  */

a {
    text-decoration: none;
}


/*底部置中*/

footer div.row {
    padding-top: 30px;
    margin: auto;
    text-align: center
}


/*編輯連結-回首頁  */

a[href*="HOME"]:visited {
    color: #4C5868;
}

a[href*="HOME"]:hover {
    color: #3D2301;
    transition: .25s
}


/*未設定時為100%  */


/*最後記得刪除框線  */

[class^=col-] {
    float: left;
    padding: 5px;
    width: 100%;
}

.row {}

.row:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
    .col-xs-1 {
        width: calc(100% * 1 / 12);
    }
    .col-xs-2 {
        width: calc(100% * 2 / 12);
    }
    .col-xs-3 {
        width: calc(100% * 3 / 12);
    }
    .col-xs-4 {
        width: calc(100% * 4 / 12);
    }
    .col-xs-5 {
        width: calc(100% * 5 / 12);
    }
    .col-xs-6 {
        width: calc(100% * 6 / 12);
    }
    .col-xs-7 {
        width: calc(100% * 7 / 12);
    }
    .col-xs-8 {
        width: calc(100% * 8 / 12);
    }
    .col-xs-9 {
        width: calc(100% * 9 / 12);
    }
    .col-xs-10 {
        width: calc(100% * 10 / 12);
    }
    .col-xs-11 {
        width: calc(100% * 11 / 12);
    }
    .col-xs-12 {
        width: calc(100% * 12 / 12);
    }
}


/*width要設定的比min-width還小 避免出現卷軸  */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 767px;
        overflow: auto;
        margin: 0 auto;
    }
    .col-sm-1 {
        width: calc(100% * 1 / 12);
    }
    .col-sm-2 {
        width: calc(100% * 2 / 12);
    }
    .col-sm-3 {
        width: calc(100% * 3 / 12);
    }
    .col-sm-4 {
        width: calc(100% * 4 / 12);
    }
    .col-sm-5 {
        width: calc(100% * 5 / 12);
    }
    .col-sm-6 {
        width: calc(100% * 6 / 12);
    }
    .col-sm-7 {
        width: calc(100% * 7 / 12);
    }
    .col-sm-8 {
        width: calc(100% * 8 / 12);
    }
    .col-sm-9 {
        width: calc(100% * 9 / 12);
    }
    .col-sm-10 {
        width: calc(100% * 10 / 12);
    }
    .col-sm-11 {
        width: calc(100% * 11 / 12);
    }
    .col-sm-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
        overflow: auto;
        margin: 0 auto;
    }
    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1150px;
        overflow: auto;
        margin: 0 auto;
    }
    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}